body {
    margin: 0;
    font-family: 'Comic SAns MS', cursive, sans-serif; 
    background-color: #fff176;
    text-align: center;
    color: #4a148c;
}

.container {
    padding: 20px;
}

h1 {
    font-size: 25px;
    margin: 10px 0;
}

h2 {
    font-size: 19px;
}

#clock {
    font-size: 25px;
    font-weight: bold;
    margin: 15px 0;
}

img {
    width: 200px;
    height: 250px;
    border-radius: 5px;
    box-shadow: 0 0 10px gray;
}

h4 {
    font-size: 20px;
    margin-top: 20px;
    color: #d84315;
}

.controls {
    margin-top: 30px;
}

label {
    display: block;
    margin: 10px 0;
    font-size: 15px;
}

select {
    padding: 5px;
    font-size: 9px;
}

button {
    margin-top: 20px;
    padding: 10px 25px;
    font-size: 15px;
    background-color: #ff4081;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #f50057;
}