body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    background-color: beige;
}

.kortti {
    width: 500px;
    margin: 0 auto; 
    background: #eded92;
    padding: 16px;
}