body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
    padding: auto;
}

.kortti {
    width: 500px;
    margin: 0 auto;
    background-color: rgb(158, 245, 245);
    padding: 15px;
}