body {
    background-color: #fff8f0;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding: 24px;
}
.kortti {
    width: 500px;
    margin: 0 auto; 
    background: orange;
    padding: 16px;}






